<body>
<div th:fragment="footer">

    <section class="">
        <!-- Footer -->
        <footer class="text-center text-muted" style="background-color: #f8f9fa;">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section class="">
                    <p class="d-flex justify-content-center align-items-center">
                        <span class="me-3">Inscrivez-vous gratuitement ! </span>
                        <a href="#" th:href="@{/encheres/inscription}" class="btn btn-primary me-3">S'inscrire</a>

                    </p>

                </section>
                <!-- Section: CTA -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2025 Copyright:
                <a class="text-white" href="">Finest of the finest</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->

    </section>
</div>
</body>